$breakpoint-xs-mobile: 320px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1200px;

$primary-color: #ffb900;
$primary-bg-color: #121423;
$secondary-bg-color: #212437;
$primary-text-color: #fcfcfd;
$secondary-text-color: #d9dbdd;
$gray-text-color: #777e90;
